.dot{
  background-color: red; height: 15px; width: 15px; border-radius: 50%; 
  animation:  hoverMove .5s infinite linear;
}
@keyframes hoverMove {
  to{
    background-color: red;
  }
  from{
      background-color: rgb(0, 0, 0);
  }
}